<?xml version="1.0" encoding="utf-8"?>
<manifest package="zhuoning.youthlife.cn.zhuoning"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".cn.youthlife.zhuoning.user_login.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowTranslucentNavigation="true"
            android:windowTranslucentStatus="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".cn.youthlife.zhuoning.device_activate.DMActivateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".cn.youthlife.zhuoning.base.BaseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >

        </activity>
        <activity
            android:name=".cn.youthlife.zhuoning.user_login.RegActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity
            android:name=".cn.youthlife.zhuoning.user_login.ForgetPassActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <activity
            android:name=".cn.youthlife.zhuoning.user_center.FeedbackActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <activity
            android:name=".cn.youthlife.zhuoning.user_center.MessageActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <activity
            android:name=".cn.youthlife.zhuoning.user_center.ChangePassActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <!--智能插座的控制界面-->
        <activity
            android:name=".cn.youthlife.zhuoning.device_controller.PlugControllerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

        </activity>
        <!-- 饮水机的控制界面 -->
        <activity
            android:name=".cn.youthlife.zhuoning.device_controller.DrinkControllerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>

        <!-- 电动窗帘的控制界面-->
        <activity
            android:name=".cn.youthlife.zhuoning.device_controller.Curtain1ControllerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">


        </activity>
        <!-- 双窗帘页面-->
        <activity
            android:name=".cn.youthlife.zhuoning.device_controller.Curtain2ControllerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

        </activity>

        <!--智能照明-->
        <activity
            android:name=".cn.youthlife.zhuoning.device_controller.LightControllerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>



    </application>

</manifest>
